/**GOOGLE POPPINS**/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: black;
}
.container {
  max-width: 90rem;
  margin: 2rem auto;
  padding: 0px 2rem;
}
.header {
  padding: 2rem;
  margin: 1rem 0px;
  text-align: center;
}
.header > . title {
  margin-bottom: 1rem;
}
.tribute {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 78rem;
  margin: 0px auto;
  background: white;
  color: black;
  align-items: center;
  padding: 0px 0px 0px 1renm;
}
.tribute blockquote {
  text-align: center;
  font-size: 3rem;
}
.tribute img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  max-width: 100%;
}
.bio {
  margin: 2rem auto;
  padding: 0px 0.5rem;
  max-width: 40rem;
  margin-bottom: 10px;
}
.bi0 > p {
  margin-top: 10px;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
}
.bio > hr {
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .tribute {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .tribute blockquote {
    font-size: 1.2rem;
  }

  .bio {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 1rem 0;
  }

  .title {
    font-size: 1.5rem;
  }

  .tribute blockquote {
    font-size: 1rem;
  }

  .bio p {
    font-size: 0.9rem;
  }
}
